<!DOCTYPE html>
<html>
  <head>
    <title>MNIST</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"> -->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-6">
          <p>draw a digit below</p>
          <canvas id="main"></canvas>
          <p>
            <button id="clear" class="btn btn-info">clear</button>
          </p>
          <p>The <a href="http://yann.lecun.com/exdb/mnist/">mnist dataset</a> contains 60,000 examples of handwritten digits and a test set of 10,000 examples. Every MNIST data point has two parts: a 28x28 pixel image and a corresponding label between 0 and 9. In this case we trained a softmax regression model and a convolutional neural net.  Draw a digit above to see how they compare.</p>
        </div>
        <div class="col-xs-12 col-lg-6">
          <p>28 x 28 input</p>
          <canvas id="input" style="border:1px solid" width="140" height="140"></canvas>
          <hr>
          <table id="output" class="table">
            <thead>
              <tr>
                <th scope="col">output</th>
                <th scope="col">regression</th>
                <th scope="col">convolutional</th>
              </tr>
            </thead>
            <tbody>
              <tr><th>0</th><td></td><td></td></tr>
              <tr><th>1</th><td></td><td></td></tr>
              <tr><th>2</th><td></td><td></td></tr>
              <tr><th>3</th><td></td><td></td></tr>
              <tr><th>4</th><td></td><td></td></tr>
              <tr><th>5</th><td></td><td></td></tr>
              <tr><th>6</th><td></td><td></td></tr>
              <tr><th>7</th><td></td><td></td></tr>
              <tr><th>8</th><td></td><td></td></tr>
              <tr><th>9</th><td></td><td></td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </body>
  <footer>
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ui.touch-punch.min.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static', filename='js/base.js') }}"></script>
  </footer>
</html>
